
@{
    ViewBag.Title = "AddToHead";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddToHead</h2>

@section AddToHead{
    <link href="@Url.Content("~/Content/Custem.css")" rel="stylesheet" type="text/css" />
    <div> 
        HiHaHo HiHaHo HiHaHo
    </div>
}

